html {
    scroll-behavior: smooth;
}

.logoText {
    margin-left: 0.5em;
}

.logoSpaceLeft {
    padding-left: 0px;
}

.noPaddingLeft {
    padding-left: 0px;
}

.cartText {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

span {
    font-size: 12px;
}

.btn {
    font-size: 12px;
}

a {
    font-size: 12px;
}

.card-info {
    font-size: 10px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

span.navbar-toggler-icon {
    background-image: url(./img/hamburger.svg);
}

.navbar-toggler:focus {
    box-shadow: none;

}

/*Saturate*/
.saturate {
    -webkit-filter: saturate(50%);
    filter: saturate(50%);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.saturate:hover {
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
}

/*Hover text 1*/
.hoverLine {
    --c: linear-gradient(#000 0 0);
    /* update the color here */

    padding-bottom: .15em;
    background: var(--c), var(--c);
    background-size: .3em .1em;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: .4s ease-in-out, background-size .4s .3s ease-in-out;
}

.hoverLine:hover {
    background-size: 40% .1em;
    background-position: 10% 100%, 90% 100%;
}

/*Zoom In*/
.zoomIn {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.zoomIn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    -webkit-transition-property: transform;
    transition-property: transform;
    
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    /* W3C */
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.pad-btn{
    padding: 20px 24px;
}

.pad-btn-counter{
    padding: 12px 18px;
}

.price-text{
    width: fit-content;
    margin-bottom: 1rem;
}

.price-text-detail{
    width: fit-content;
    margin-bottom: 0rem;
}